<div class="p-8">
  <h1></h1>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col gap-2"
  >
    <div class="flex flex-col">
      <label for="firstName">First name: </label>
      <input
        class="border border-black rounded-sm p-2"
        id="firstName"
        type="text"
        formControlName="firstName"
      />
    </div>
    <div class="flex flex-col">
      <label for="lastName">Last name: </label>
      <input
        class="border border-black rounded-sm p-2"
        id="lastName"
        type="text"
        formControlName="lastName"
      />
    </div>
    <div class="flex flex-col">
      <label for="email">Email: </label>
      <input
        class="border border-black rounded-sm p-2"
        id="email"
        type="email"
        formControlName="email"
      />
    </div>
    <div formGroupName="address" class="flex flex-col p-8">
      <h2>Address</h2>
      <label for="street">Street: </label>
      <input
        class="border border-black rounded-sm p-2"
        id="street"
        type="text"
        formControlName="street"
      />
      <label for="city">City: </label>
      <input
        class="border border-black rounded-sm p-2"
        id="city"
        type="text"
        formControlName="city"
      />
      <label for="state">State: </label>
      <input
        class="border border-black rounded-sm p-2"
        id="state"
        type="text"
        formControlName="state"
      />
      <label for="zip">Zip Code: </label>
      <input
        class="border border-black rounded-sm p-2"
        id="zip"
        type="text"
        formControlName="zip"
      />
    </div>
    <div class="flex flex-col">
      <label for="phoneNumber">Phone number: </label>
      <input
        class="border border-black rounded-sm p-2"
        id="phoneNumber"
        type="tel"
        formControlName="phoneNumber"
      />
    </div>
    <div class="flex flex-col">
      <label for="password">Password: </label>
      <input
        class="border border-black rounded-sm p-2"
        id="password"
        type="password"
        formControlName="password"
      />
    </div>
    <p>Complete the form to enable button.</p>
    <button
      class="border border-black bg-green-400 hover:bg-green-700 w-20 rounded cursor-pointer disabled:bg-slate-100"
      type="submit"
      [disabled]="!profileForm.valid"
    >
      Submit
    </button>
  </form>
</div>
